<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button id="addresses-list" [routerLink]="['/', profilePath, detailsPath]" routerDirection="back">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'PROFILE.addresses.title' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button id="add-address" [routerLink]="['/', profilePath, addressesPath, createPath]" routerDirection="forward">
                <ion-icon slot="end" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!addresses.length">
        <div class="ion-text-center ion-padding">No data</div>
    </ng-container>
    <ng-container *ngIf="addresses.length">
        <ion-list>
            <ion-item *ngFor="let address of addresses; let i=index">
                <div tabindex="0"></div>
                <ion-label>
                    <p>{{getAddress(address)}}, {{address.city}}</p>
                </ion-label>
                <div item-right>
                    <ion-button (click)="delete(address);$event.stopPropagation();" color="danger" title="{{'GLOBAL.labels.delete' | translate}}"><ion-icon name="trash-outline"></ion-icon></ion-button>
                    <ion-button (click)="edit(address);$event.stopPropagation();" color="primary" title="{{'GLOBAL.labels.edit' | translate}}"><ion-icon name="create-outline"></ion-icon></ion-button>
                </div>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
