<ion-menu side="start" menuId="{{menuId}}" contentId="{{menuContent}}">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item class="cursor-pointer" *ngFor="let item of menu" (click)="onClick(item)">
                <div tabindex="0"></div>
                <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
                <ion-label>{{item.key ? (item.key | translate) : item.label}}</ion-label>
            </ion-item>
        </ion-list>
        <div class="bottom" *ngIf="showLogout">
            <ion-item class="ion-text-end cursor-pointer" (click)="signOut()">
                <div tabindex="0"></div>
                <ion-icon slot="end" size="large" name="log-out-outline"></ion-icon>
                <ion-label>{{'GLOBAL.labels.signOut' | translate}}</ion-label>
            </ion-item>
        </div>
    </ion-content>
</ion-menu>
