:host {
  .bottom {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
  }
  ion-item {
    &.cursor-pointer {
      cursor: pointer;
      &:hover {
        background: black;
      }
    }
  }
}
