<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{mediaData ? modalTitle() : ''}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">{{'GLOBAL.labels.close' | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="mediaData">
            <ion-col size="12">
                <ion-img *ngIf="mediaData.media_type !== 'VIDEO'" class="insta" [src]="mediaData.media_url"></ion-img>
                <video class="insta" *ngIf="mediaData.media_type === 'VIDEO'" controls="" name="media">
                    <source [src]="getSrc(mediaData.media_url)" type="video/mp4">
                </video>
            </ion-col>
            <ion-col size="12">
                <ion-text class="ion-text-start">
                    {{mediaData.caption}}
                </ion-text>
                <div class="ion-padding-top">
                    <ion-button size="small" fill="clear" (click)="goto(mediaData)">{{'HOME.insta.link' | translate}}...</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
