<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="{{backLink}}"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'GLOBAL.labels.edit' | translate}} {{('PROFILE.details.title' | translate).toLowerCase()}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-align-items-center">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-xl="5" size-lg="6" size-md="7" size-sm="8">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="form">
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.phone' | translate}}</ion-label>
                                <ion-input type="tel" #phoneInput formControlName="phone" placeholder="+7 (xxx) xxx-xxxx"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.password' | translate}}</ion-label>
                                <ion-input type="password" formControlName="newPassword" placeholder="{{'GLOBAL.labels.password' | translate}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.confirm' | translate}}</ion-label>
                                <ion-input type="password" formControlName="confirmPassword" placeholder="{{'GLOBAL.labels.confirm' | translate}} {{('GLOBAL.labels.password' | translate).toLowerCase()}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.firstName' | translate}}</ion-label>
                                <ion-input type="text" formControlName="firstName" placeholder="{{'GLOBAL.labels.firstName' | translate}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.lastName' | translate}}</ion-label>
                                <ion-input type="text" formControlName="lastName" placeholder="{{'GLOBAL.labels.firstName' | translate}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.email' | translate}}</ion-label>
                                <ion-input type="email" formControlName="email" placeholder="{{'GLOBAL.labels.email' | translate}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">{{'GLOBAL.labels.dob' | translate}}</ion-label>
                                <ion-datetime displayFormat="DD/MM/YYYY" min="1930-01-01" max="2010-01-01" formControlName="dob" placeholder="{{'GLOBAL.labels.dob' | translate}}"></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.role' | translate}}</ion-label>
                                <ion-select formControlName="role" placeholder="Select Role" (ionChange)="onRoleUpdate($event)">
                                    <ion-select-option *ngFor="let role of roles" [value]="role">{{role}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </form>
                        <div class="ion-text-center ion-margin-top">
                            <ion-button size="small" color="primary" (click)="update()" [disabled]="!form.valid">
                                {{'GLOBAL.labels.update' | translate}}
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
