<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button id="addresses-list" [routerLink]="['/', profilePath, addressesPath]" routerDirection="back">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{id ? 'Edit' : 'Create'}} Address
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Enter credentials</ion-card-subtitle>
            <ion-card-title>Address</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="save()">
                <ion-item>
                    <ion-label>City</ion-label>
                    <ion-select formControlName="city" placeholder="Select City" (ionChange)="onCitySelect($event)">
                        <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Street</ion-label>
                    <ion-select formControlName="street" placeholder="Select Street">
                        <ion-select-option *ngFor="let street of streets" [value]="street">{{street}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>House</ion-label>
                    <ion-input type="text" formControlName="house" placeholder="House"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>App</ion-label>
                    <ion-input type="number" formControlName="app" placeholder="App"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Entrance</ion-label>
                    <ion-input type="number" formControlName="entrance" placeholder="Entrance"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Floor</ion-label>
                    <ion-input type="number" formControlName="floor" placeholder="Floor"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Code</ion-label>
                    <ion-input type="number" formControlName="code" placeholder="Code"></ion-input>
                </ion-item>
                <div class="ion-text-center ion-margin-top">
                    <ion-button size="small" color="primary" type="submit" [disabled]="!form.valid">
                        Save
                    </ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>
