<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="{{backLink}}"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'ADMIN.banners.single' | translate}}: {{(id ? 'GLOBAL.labels.edit' : 'GLOBAL.labels.create') | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-xl="5" size-lg="6" size-md="7" size-sm="8">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="form">
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label>{{fileInputLabel || ('GLOBAL.labels.chooseFile' | translate)}}</ion-label>
                                <ion-input type="file" (change)="onFileSelect($event)" #UploadFileInput></ion-input>
                                <input type="hidden" formControlName="image">
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.name' | translate}}</ion-label>
                                <ion-input type="text" formControlName="name" placeholder="{{'GLOBAL.labels.name' | translate}}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.description' | translate}}</ion-label>
                                <ion-textarea formControlName="description" placeholder="{{'GLOBAL.labels.description' | translate}}..."></ion-textarea>
                            </ion-item>
                            <ion-item>
                                <div tabindex="0"></div>
                                <ion-label position="floating">{{'GLOBAL.labels.display' | translate}}</ion-label>
                                <ion-select formControlName="display" (ionChange)="onDisplayUpdate($event)">
                                    <ion-select-option [value]="true">{{'GLOBAL.labels.yes' | translate}}</ion-select-option>
                                    <ion-select-option [value]="false">{{'GLOBAL.labels.no' | translate}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </form>
                        <div class="ion-text-center ion-margin-top">
                            <ion-button size="small" color="primary" (click)="onFormSubmit()" [disabled]="!form.valid">
                                {{(id ? 'GLOBAL.labels.update' : 'GLOBAL.labels.create') | translate}}
                            </ion-button>
                        </div>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
