<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="{{backLink}}"></ion-back-button>
        </ion-buttons>
        <ion-title>{{id ? 'Edit' : 'Create'}} banner</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-content>
            <form [formGroup]="form">
                <ion-item>
                    <ion-label>{{fileInputLabel || 'Choose File'}}</ion-label>
                    <ion-input type="file" (change)="onFileSelect($event)" #UploadFileInput></ion-input>
                    <input type="hidden" formControlName="image">
                </ion-item>
                <ion-item>
                    <ion-label>Title</ion-label>
                    <ion-input type="text" formControlName="name" placeholder="Title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Description</ion-label>
                    <ion-textarea formControlName="description" placeholder="Enter more information here..."></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>Display</ion-label>
                    <ion-select formControlName="display" (ionChange)="onDisplayUpdate($event)">
                        <ion-select-option [value]="true">Yes</ion-select-option>
                        <ion-select-option [value]="false">No</ion-select-option>
                    </ion-select>
                </ion-item>
            </form>
            <div class="ion-text-center ion-margin-top">
                <ion-button size="small" color="primary" (click)="onFormSubmit()" [disabled]="!form.valid">
                    {{id ? 'Create' : 'Update'}}
                </ion-button>
            </div>

        </ion-card-content>
    </ion-card>
</ion-content>
