<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button id="home" [routerLink]="['/']" routerDirection="back">
                <ion-icon slot="start" name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!authInfo">
        <div class="ion-text-center ion-padding">No data</div>
    </ng-container>
    <ng-container *ngIf="authInfo">
        <ion-list>
            <ion-item>
                <ion-label>Hello {{authInfo.user && authInfo.user.firstName ? authInfo.user.firstName : ''}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Your phone: +{{authInfo.user.phone}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Addresses</ion-label>
                <ion-button class="ion-text-right" fill="clear" [routerLink]="['/', profilePath, addressesPath]" routerDirection="forward">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ng-container>

</ion-content>
