<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button id="home" [routerLink]="['/']" routerDirection="back">
                <ion-icon slot="start" name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'PROFILE.details.title' | translate}}
        </ion-title>
        <ion-buttons slot="end" *ngIf="!mobile">
            <ion-button id="end" [routerLink]="['/', adminPath]" routerDirection="forward">
                <ion-icon slot="start" name="person-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="ion-text-end">
                        <ion-button size="small" (click)="edit()" routerDirection="forward">
                            <ion-icon name="pencil-outline" slot="start"></ion-icon>
                            {{'GLOBAL.labels.edit' | translate}} {{'PROFILE.details.title' | translate}}
                        </ion-button>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="ion-text-start">
                        <ion-button size="small" color="danger" (click)="logout()" routerDirection="back">
                            <ion-icon name="log-out-outline" slot="start"></ion-icon>
                            {{'GLOBAL.labels.signOut' | translate}}
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ng-container *ngIf="!details">
        <div class="ion-text-center ion-padding">No data</div>
    </ng-container>
    <ng-container *ngIf="details">
        <ion-list>
            <ion-item>
                <div tabindex="0"></div>
                <ion-label>{{'GLOBAL.labels.firstName' | translate}}: {{details && details.firstName ? details.firstName : ''}}</ion-label>
            </ion-item>
            <ion-item>
                <div tabindex="0"></div>
                <ion-label>{{'GLOBAL.labels.phone' | translate}}: +{{details.phone}}</ion-label>
            </ion-item>
            <ion-item>
                <div tabindex="0"></div>
                <ion-label>{{'PROFILE.addresses.title' | translate}}</ion-label>
                <ion-button class="ion-text-right" fill="clear" [routerLink]="['/', profilePath, addressesPath]" routerDirection="forward">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ng-container>

</ion-content>
